---
import Layout from "@layouts/Layout/Layout.astro";
import { INDEX } from "./config";
---

<Layout title={INDEX.display}>
  <main>
    <h1>¡Hola mundo!</h1>
  </main>
</Layout>

<style>
  main {
    padding: var(--lg);
  }
</style>
