---
import "@styles/index.css";
import css from "./Layout.module.css";
import Seo from "./Seo.astro";
import { ClientRouter } from "astro:transitions";
import Header from "./Header/Header.astro";
import Footer from "./Footer/Footer.astro";

interface Props {
  title: string;
  description?: string;
  keywords?: string[];
  img?: string;
}

const { title, ...rest } = Astro.props;
---

<!doctype html>
<html lang="es" class={css.layout}>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>

    <ClientRouter />

    <Seo {...rest} title={title} />
  </head>
  <body>
    <Header />
    <slot />
    <Footer />
  </body>
</html>
