---
import type { HTMLAttributes } from "astro/types";

interface Props extends HTMLAttributes<"a"> {}

const { ...rest } = Astro.props;
---

<a {...rest} target="_blank" rel="noopener noreferrer"><slot /></a>

<style>
  a {
    color: var(--blue);
  }
</style>
