---
import css from "./Header.module.css";
import Link from "@components/links/Link/Link.astro";
import { INDEX } from "@views/IndexView/config";
import Logo from "@components/logos/Logo/Logo.astro";
import { COMPONENTES } from "@views/ComponentesView/config";
---

<header class={css.header}>
  <nav>
    <Link href={INDEX.href}><Logo /></Link>
    <Link href={COMPONENTES.href}>{COMPONENTES.display}</Link>
  </nav>
</header>
