---
import css from "./Header.module.css";
import Link from "@components/links/Link/Link.astro";
import { INDEX } from "@views/IndexView/config";
import { CONTACTO } from "@views/ContactoView/config";
import Logo from "@components/logos/Logo/Logo.astro";
---

<header class={css.header}>
  <nav>
    <Link href={INDEX.href}><Logo /></Link>
    <Link href={CONTACTO.href}>{CONTACTO.display}</Link>
  </nav>
</header>
