.wrapper {
  position: relative;
  display: flex;
  gap: var(--sm);

  /* Para WebKit (Chrome, Safari, Edge) */
  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  /* Para Firefox */
  input[type="number"] {
    -moz-appearance: textfield;
    appearance: textfield;
  }

  .input_err:not(:focus) {
    outline: var(--outline_err);
  }
}
