---
import Btn from "@components/buttons/Btn/Btn.astro";
import type { HTMLAttributes } from "astro/types";

interface Props extends HTMLAttributes<"div"> {
  current_page: number;
  prev?: string;
  next?: string;
}

const { current_page, next, prev } = Astro.props;
---

<div class="paged">
  <a href={prev}><Btn disabled={!prev}>Anterior</Btn></a>
  <div>{current_page}</div>
  <a href={next}><Btn disabled={!next}>Siguiente</Btn></a>
</div>

<style>
  .paged {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: var(--md);
  }
</style>
